.hero{
  background-image: url("https://s3-alpha-sig.figma.com/img/21a9/6279/ce1f4155f94e5ff1cee7fb543841a4bd?Expires=1708905600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=irb~GWDvZmOaE3Ij83e8A~4dgKOoS1sOfUPw-2wVUl5rHfn6mUqeFXxumwaudn-pRaZ5tTwA7ge1An7VvrXMuavNek5NgCq5ZCBJqpinzh6qEdDZB51fw6CgP9gJsq6o9Oxv2-VM0ukWgnC7mrXPZDMgs1aVSljtkfwpE5HStHVCRvsvBMKr6MyftEdhXjH3pIJgMKkty-D6EqBNR9dnEXFQdqhne7ymms6TgkpPREVqvCRWJ~dnCUCPZGE37VvAXonqZM5b~tf1gokNkE8qr9aJCr5S~HN8maPBxJvzq-pACRlz4Z-fzzVLSRVR~EtA08tcb2q6tcmsMPuDqDcYWQ__");
  width: 100%;
  height:100vh;
  background-repeat: no-repeat;
  background-size: cover; /* This will cover the entire container with the background image */
  background-position: center; /* This will center the background image */
}


@media screen and (max-width: 768px) {
  .hero {
    height:100vh; /* Adjust the height for smaller screens */
  }
}


body{
  font-family: "Figtree", sans-serif;

}

